<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Title: </p>
    <%= @school_class.title %>

    <p>Room Number: </p>
    <%= @school_class.room_number%>

  </body>
</html>
